# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.env
.venv
env/
venv/

# Editor directories and logs
.DS_Store
*.egg-info/
build/
dist/

# Jupyter checkpoints
.ipynb_checkpoints/
